name: CI

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  tests-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x, 18.x, 20.x, 22.x, 24.x, 25.x]
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check Node.js version
        run: node -pe process.versions
      - name: Check npm version
        run: npm -v
      - name: Install Python 2.7 (node <16.x)
        if: ${{ contains(fromJSON('["10.x", "12.x", "14.x"]'), matrix.node-version) }}
        uses: LizardByte/actions/actions/setup_python@329b1bcefe1cbe1ef289177471c9f2b2af98e6ca
        with:
          python-version: '2.7'
      - name: Use Python 2.7 (node <16.x)
        if: ${{ contains(fromJSON('["10.x", "12.x", "14.x"]'), matrix.node-version) }}
        run: echo "PYTHON=$(which python2.7)" >> "$GITHUB_ENV"
      - name: Install module
        run: npm install
      - name: Run tests
        run: npm test
